<!doctype html>
<html>
<head><title>hello world, in hypertext!</title></head>
<body><h1>hi, heads-or-tails?</h1>

<div>
    <% employees.forEach((employee) => { %>
    <span>date: </span> <%=  employee.date %> <br/>
    <span>category: </span> <%=  employee.category %> <br/>
    <span>employeeName: </span> <%=  employee.employeeName %> <br/>
    <span>employeeAddress: </span> <%=  employee.employeeAddress %> <br/>
    <span>expenseDescription: </span> <%=  employee.expenseDescription %> <br/>
    <span>preTaxAmount: </span> <%=  employee.preTaxAmount %> <br/>
    <span>taxName: </span> <%=  employee.taxName %> <br/>
    <span>taxAmount: </span> <%=  employee.taxAmount %> <br/>
    <hr>
    <% }); %>
    
</div>

</body>
</html>